.container {
    height: 100%;
    display: grid;
    grid-template-columns:1fr 1fr;
}

.container > div:last-of-type img {
    height: 100%;
}

.left {
    display: flex;
    flex-direction: column;
}

.nav {
    padding: 12px 20px;
}

.nav button {
    font-size: 1.125rem;
    color: var(--text);
    display: flex;
    align-items: center;
    gap: 8px;
}


.parent {
    flex-grow: 1;
    display: grid;
    place-content: center;
}

.content {
    width: 600px;
}
