.btn {
    background-color: var(--primary);
    color: #F7F7F7;
    font-size: 1.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;

}

.btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.spinner {
    width: 16px;
    height: 16px;
    border: 2px solid #fff;
    border-top: 2px solid #3498db;
    border-radius: 50%;
    animation: spin 0.6s linear infinite;
    display: inline-block;
    vertical-align: middle;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@media (max-width: 760px) {
    .btn {
        font-size: 0.875rem;
    }
}