.container {
    height: 100svh;
    min-width: 100svh;
    display: flex;
    gap: 20px;
}

.container .left {
    width: 500px;
    display: flex;
}


.container .right {
    flex: 1;
}

@media (max-width: 760px) {
    .left {
        display: none !important;
    }
}