.btn {
    background-color: var(--light-bg);
    color: var(--primary);
    font-size: 1.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    border: 1.5px solid var(--primary);

}


@media (max-width: 760px) {
    .btn {
        font-size: 0.875rem;
    }
}