.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
}

.navbar button {
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-inline: 10px;
}

.navbar span {
    font-weight: 600;
}

.closeBtn {
    color: #1B3B6F;
}

.parent {
    flex: 1;
    display: grid;
    place-content: center;
}

.content {
    width: 600px;
    margin: auto;
}

.myForm {
    display: grid;
    gap: 40px;
    margin-bottom: 40px;
}

.options {
    display: grid;
    gap: 32px;
}

.myForm h1 {
    font-family: "Manrope", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.myForm h2 {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "Manrope", sans-serif;

}

.myForm .input {
    height: 50px;
    border-radius: 12px;
    border: 1.5px solid #E5E7EA;
    font-size: 1rem;
    padding: 12px;

}


/* Styling for tip modals */

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 24px;
    position: relative;
}

.modal h2 {
    margin-top: 40px;
    font-weight: 600;
    font-size: 2rem;
    color: var(--primary-border);
}

.modal p {
    font-size: 1.125rem;
    color: var(--primary-border);
}

@media (max-width: 760px) {

    .container {
        width: 100vw;
    }

    .parent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 24px;
    }

    .content {
        width: 100%;
    }

    .navbar {
        padding: 24px;
    }

    .myForm {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .options {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .myForm h1 {
        font-size: 1.25rem;
    }

    .myForm h2 {
        font-size: 1.125em;
    }

    .myForm .input {
        width: 100%;
    }
}