.container {
    width:700px;
    height:700px;
    margin: auto;
    padding: 32px;
    background-color: white;
}

.container h2 {
    font-size: 1.25rem;
    margin-bottom: 24px;
    font-weight: 600;
}

.settings {
    display: flex;
    flex-direction: column;
    gap: 60px;
}


/* Styling for tab component */

.tab {
    display: flex;
    align-items: center;
    gap: 16px;
    text-align: left;
}

.tab h3 {
    font-weight: 600;
    font-size: 1.125rem;
    color: var(--primary-border);
}

.tab p {
    color: var(--primary-border);
}


@media (max-width: 760px) {
    .container {
        width: 100%;
        padding: 0;
    }

    .container h2 {
        font-size: 1rem;
    }

    .settings {
        gap: 24px;
    }

    .tab {
        padding-inline: 10px;
    }

    .tab h3 {
        font-size: 0.9rem;
    }

    .tab p {
        font-size: 0.75rem;
    }
}