
:root {
  --text: #1E1E1E;
  --text-secondary: #6D717F;
  --primary: #4D91CC;

  --primary-border: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  object-fit: cover;
}

button, input {
  border: none;
  background: none;
  cursor: pointer;
  height: 50px;
  border-radius: 12px;
  font-family: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 1440px;
  margin: auto;
  min-height: 100svh;
  color: var(--text);
}